*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html {
  text-align: center;
  background-color: green;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.deck, .hand, .card-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  background-color: white;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: .9rem;
  width: 30px;
  height: 50px;
  margin: 5px;
  padding: 5px;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.execute-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    padding: 50px;
    background-color: lightblue;
}

.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px;
}

.player {
  margin: 10px;
  padding: 10px;
  background-color: lightgreen;
    border: solid 5px green;
}

.selected {
  transform: scale(1.5) rotate(15deg);
  background-color: gold;
}

.selected-player {
  border: solid 5px red;
}